// Add any custom Sass & CSS here
.greeting {
display:block;
min-height: 90%;
	background:url("../media/Cozad Elevator Pitch.png") no-repeat center center; 
	-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: cover;
    background-color:#3c78d8;
	}


.red {
	background-color:#ff2424;
}

.a{
	color:white;
}

.blue {
	width:100%;
	background-color:#3c78d8;

	p{
		color:white;
	}

	h1{
		color:white;
	}
	i{
		color:blue;
	}
}
.row {
  margin-bottom: 2em;
}


#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}




//new nav bar stuff:
.hidden{
    display:none;
}

.unhidden{
    display:block;
}