// Add any custom Sass & CSS here
@charset "UTF-8";

.greeting {
display:block;
min-height: 90%;
	background:url("../media/Cozad Elevator Pitch.png") no-repeat center center; 
	-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: cover;
    background-color:$main_blue;
	}


#animation_and_vertical_center{
	height:300px;
	background:url("../media/google_wallet_and_paypal_and_apple_pay_RPZT.jpg");
		background-attachment:fixed; 
	background-position: center;
	background-repeat:no-repeat;
}

.red {
	background-color:#ff2424;
}


h1{
	color:$main_blue;
}
p{
	color:$main_blue;
}


.a{
	color:white;
}

.blue {
	width:100%;
	background-color:$main_blue;

	p{
		color:white;
	}

	h1{
		color:white;
	}

	.trickyP{
		color:$main_blue;
		background-color:#fff;
	}

}

.button {
background-color: white;
color:$main_blue;
}

.row {
  margin-bottom: 2em;
}


#owl-demo .item img{
    display: block;
     @include size(100%);
}




//new nav bar stuff:
.hidden{
    display:none;
}

.unhidden{
    display:block;
}



.anim_contain {
  overflow:hidden
}

//CSS3 animation stuff:
.trickyP {
  animation-duration: 1s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  overflow:hidden;
  color:$main_blue;
  margin-bottom: 1em;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    //width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 75%;
  }
}


.super_centered {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#sc_container{
 position: relative;
	height:180px;
}


.f-dropdown{
	background-color:#000;
}


.active{
  background-color: #d9d9d9 !important;
  color: white;
}
